/* CAROUSEL */
.image-slider {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  visibility: visible;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: contain;
  overflow: hidden;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  margin: 15px;
  font-size: 1rem;
}

@media screen and (min-width: 250px) and (max-width: 1024px) {
  .image-slider {
    width: 100vw;
    height: 40vh;
    display: contain;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .image-slider {
    width: 120vw !important;
    height: 40vh;
    background-size: cover;
    display: contain;
    overflow: hidden;
    margin-left: -5%;
  }
}

.carousel-caption {
  position: absolute;
  margin-bottom: 4%;
  text-align: right;
  color: var(--mainWhite);
}

.cc-1 {
  color: var(--mainWhite);
  font-weight: 500;
  font-size: 2rem;
}

.cc-2 {
  color: var(--mainWhite);
  font-weight: 500;
  line-height: 6rem;;
}

/* .img-slider {
  height: 100vh;
  width: 100vw;
  display: contain;
  overflow: hidden;
} */

.carousel-link {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2.5px;
  text-decoration: none;
}

/* .rec.rec-pagination {
  color: transparent;
  border-color: lightblue;
}

.rec.rec-pagination:hover {
  color: white;
} */

.carousel {
  width: 105vw;
  margin-left: -4%;
  background-size: cover;
  display: contain;
  overflow: hidden;
}


