.header-bar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 10%;
    width: 100vw;
    background: #c3ced1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1rem;
    padding-top: 1%;
  }
  
  .promo {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 2.5px;
  }

  @media screen and (min-width: 200px) and (max-width: 800px) {
    .header-bar {
      height: 10%;
      width: 100vw;
      background-color:#c3ced1;
      position: fixed;
      right: 0;
      top: 30px;
      transform: translate(300px, 0);
      transition: 0.5s;
      transition-timing-function: ease-in-out;
      z-index: 1;
    }
}