/* h1 {
  text-align: center;
} */

.auth {
  width: 100vw;
  height: 100vh;
  background-image: url("https://media.restorationhardware.com/is/image/rhis/2019_SH_BB_2?wid=1000&fmt=jpeg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.auth-container {
  width: 50vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  background-image: linear-gradient(
    70deg,
    #bbaba5 0%,
    #c3b5af,
    #cbbfba,
    #d3c9c5 40%,
    #dbd3cf,
    #e3ddda,
    #ebe7e5 100%
  );
  /* background-color: #a5b5bb; */
  border-radius: 10%;
  /* opacity: 80%; */
}

@media screen and (min-width: 320px) and (max-width: 1080px) {
  .auth-container {
    width: 50vw;
    height: 55vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: relative;
  }
}

.auth-title {
  font-size: 4rem;
  font-weight: 700;
  color: #203c45;
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 1080px) {
  .auth-title {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
}

.auth-error-msg {
  position: absolute;
  top: 55%;
  height: 40px;
  background-color: white;
  color: #403d39;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-error-msg > span {
  cursor: pointer;
  margin-left: 10px;
  color: #2e5461;
}

input {
  width: 60%;
}
.auth-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

@media screen and (min-width: 320px) and (max-width: 1080px) {
  .auth-input-box {
    width: 50vw;
    height: 55vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: relative;
  }
}

.auth-input-box > input {
  height: 35px;
  margin-left: 10px;
  border: none;
}

.auth-input-box > input:focus {
  outline-color: #69848e;
  outline-width: 5px;
}

.auth-button-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.dark-button {
  margin: 5%;
}
